* {
  font-family: 'Orbitron', sans-serif;
  }
html {
  background: url(/assets/images/Palpatine_throneroom.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  color: #ffffff;
}
