* {
  font-family: 'Orbitron', sans-serif;
  }
html {
  background: url(/assets/images/Palpatine_throneroom.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
  color: #ffffff;
}
main {
  text-align: center;
}
#characterOptions {
  display: inline;
  width: 100%;
}
.character {
  display: inline-block;
  height: 115px;
  }
.character img {
  position: relative;
  height: 100px;
  width: 100px;
  /*min-width: 100px;*/
  /*min-height: 100px;*/
}
.HPdisplay {
  position: relative;
  text-align: center;
  font-size: 10px;
}
#LukeSkywalkerAvatar { background-image: url(assets/images/JediLukeSkywalker.png); }
#QuiGonJinnAvatar { background-image: url(assets/images/Qui-Gon-Jinn-icon.png); }
#KyloRenAvatar { background-image: url(assets/images/Kylo-Ren_mask.png); }
#DarthVaderAvatar { background-image: url(assets/images/DarthVader_icon.png); }
#attackButton {
  background-color: #CA171E;
}
